/* CSS declarations go here */

body {
    font-family: 'Roboto';
    background: #fff;
}

.new-comment {
    background: #FAFAFA;
    border: 1px solid grey;
    padding: 15px;
    border-radius: 5px;
}
